<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Megogo.net Test Case</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>

<div class="container" id="view"></div>

<!-- Vendor scripts-->
<script src="vendor/jquery.js"></script>
<script src="vendor/lodash.js"></script>
<script src="vendor/backbone.js"></script>

<!-- Application scripts-->
<script src="scripts/main.js"></script>
<script src="scripts/routes/contacts.js"></script>
<script src="scripts/models/contact.js"></script>
<script src="scripts/collections/contacts.js"></script>
<script src="scripts/views/contact-list.js"></script>
<script src="scripts/views/contact-edit.js"></script>

<!-- Templates -->
<script type="text/template" id="contact-list">
    <h1>Contact list</h1>

    <table class="contacts">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Phone</td>
        </tr>
        </thead>
        <tbody>
        <% _.each(contacts, function(contact) { %>
        <tr class="contact" data-href="#/edit/<%= contact.get('id') %>">
            <td><%= contact.get('id') %></td>
            <td><%= contact.get('name') %></td>
            <td><%= contact.get('phone') %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</script>

<script type="text/template" id="contact-edit">
    <h1>Edit contact #<%= contact.get('id') %></h1>

    <form action="" class="contact">
        <div class="row">
            <label for="contact-name">Name</label>
            <input id="contact-name" type="text" name="name" value="<%= contact.get('name') %>"/>
        </div>
        <div class="row">
            <label for="contact-phone">Phone</label>
            <input id="contact-phone" type="text" name="phone" value="<%= contact.get('phone') %>"/>
        </div>
        <div class="row">
            <button type="submit">Submit</button>
        </div>
    </form>

</script>

</body>
</html>
