body * {
    box-sizing: border-box;
}

.container {
    width: 560px;
    margin: 0 auto 2em;
}

h1 {
    border-bottom: 1px solid #ccc;
}

.row {
    display: block;
    width: 100%;
    margin: 1em 0;
}

table.contacts {
    width: 100%;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-spacing: 0;
    border-collapse: separate;
}

table.contacts thead td {
    background: #f1f1f1;
}

table.contacts tbody tr {
    cursor: pointer;
}

table.contacts tbody tr:hover {
    background: #fafafa;
}

table.contacts td {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}


form.contact {

}

form.contact input {
    font-size: 14px;
    line-height: 28px;
    padding: 0 10px;
    display: block;
    width: 100%;
    margin: 0;
    border: 1px solid #ccc;
}

form.contact button {
    border-radius: 0;
    font-size: 14px;
    line-height: 28px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #fafafa;
}
